<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AddCategory</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/adminStyles/adminstyles.css">
</head>
<body>

  <div class="form-box container">
    <div class="title-container">
      <div class="table-title">
        Add Product
      </div> 
    </div>
    <% if(locals.message) {%>
      <div class="error">
        <span class="message" id="error-message"><%=message%></span>
      </div>
         <%}%>
    <form  action="/admin/add_products" method="post" enctype="multipart/form-data"  onsubmit="return validateProduct()">
    
  
        <div class="row">
           <div class="form-group col-md-12">
             <label for="productName">Product Name</label>
             <input type="text" class="form-control" name="name" id="productName" placeholder="Name of the product">
             <span id="product-error"></span>
           </div>
        </div>
         
        
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="Description of product">
          <span id="description-error"></span>
        </div>

        
        <div class="row">
          <div class="form-group col-md-6">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Quantity of product">
            <span id="quantity-error"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="Price of product">
            <span id="price-error"></span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="image">Image</label>
            <input type="file" class="image" name="image" id="image" accept='image/*' multiple>
            <span id="image-error"></span>
          </div>
                    
          <div class="form-group col-md-6">
            <label for="categoryName">Category</label>
            <select class="form-select" aria-label="Default select example" id="categoryName" name="category">
              
             <%category.forEach((categ)=>{%>
              <%if(categ.is_deleted==0){%>
             <option value="<%=categ.name%>"><%=categ.name%></option>
             <%}%>	
             <%})%>
           </select>
          </div>
        </div>
       <div class="categoryadd">
        <button type="submit" class="btn btn-dark confirm-categ">Add Product</button>
       </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/scripts/adminScripts/script.js"></script>
</body>
</html>