.checkout-btn{
    background-color: #FB5531;
    border-color:#FB5531;
		color: white;
}
.cart-span{
  text-decoration: none;
  color: white;
}
.fs-wishlist,.fs-remove{
  background-color: white;
  border-color: black;
}

.qty-btn{
  height: 38px;
  background-color: white;
  border-color: rgba(165, 164, 164, 0.664);
  border-width: -3px;
}
.form1{
  width:60px;
  text-align: center;
}
#prod-form{
  text-align: center;
  width:40px;
  height: 100%;
}
input.qty-form::-webkit-outer-spin-button,
input.qty-form::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
.mt-100{
	margin-top:100px;
}
.card1 {
	 margin-bottom: 30px;
	 border: 0;
	 -webkit-transition: all .3s ease;
	 transition: all .3s ease;
	 letter-spacing: .5px;
	 border-radius: 8px;
	 -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
	 box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}
.card1 .card-header {
	 background-color: #fff;
	 border-bottom: none;
	 padding: 24px;
	 border-bottom: 1px solid #f6f7fb;
	 border-top-left-radius: 8px;
	 border-top-right-radius: 8px;
}
.card-header:first-child {
	 border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card1 .card-body1 {
	 padding: 30px;
	 background-color: transparent;
   padding-bottom: 150px !important;
   padding-top: 90px !important;
}
.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
	 background-color: #4466f2!important;
	 border-color: #4466f2!important;
}
.empty-box{
  margin-top: 80px;
}
.cart-div,.checkout-div{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: none;
}
.shipping-add,.payment-div{
	background-color: #fd6442f8;
	padding-top: 12px;
	padding-bottom: 12px;
}
.shipping-add h5,.payment-div h5{
	color: white;
}
.label-radio{
	font-size: 16px;
	margin-left: 40px;
	margin-top: -25px;
}
.order-confirm-btn{
	margin-top: 30px;
	padding-bottom: 15px;
}
#paymentBox {
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.expand {
  max-height: fit-content !important;
}
.address-options,.payment-options{
	margin-left: 20px;
}
.eachTotal{
	display: none;
}
.address-edit-btn{
	margin-top: 30px;
	text-align: right;
}
#newAddressBox {
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cont-box{
margin-top: 30px;
padding-left: 200px;
padding-right: 200px;
}
.span-cursor:hover{
	cursor: pointer;
}
.success-div{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	max-width: 575px;
}
.success-btns{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  padding-bottom: 48px;
	margin-top: 28px;
}
.tick-img{
	width: auto;
	height: 105px;
}
.img-div{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.success-div h4{
	text-align: center;
}
.success-div p{
	text-align: center;
	margin-top: 20px;
}
.quan-list{
	color: black;
	font-weight: 500;
}
.coupon-input{
	width:75%;
	height: 41px;
	font-size: 19px!important;
	padding-left: 7px;
	border: 0.1px;
	border-radius: 2px;
  background: #fff;
  color: #383838;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(172, 172, 172, 0.07);
  font-family: inherit;
  outline: none;
}
.coupon-btn{
	width: fit-content
}