	
	<!-- Site footer -->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h6>About</h6>
					<p class="text-justify">Where style meets passion, our curated collection at EVERBO embodies the essence of fashion, weaving together trends, comfort, and confidence to redefine your wardrobe narrative.</p>
				</div>

				<div class="col-xs-6 col-md-3">
					<h6>ACCOUNT</h6>
					<ul class="footer-links">
						<li><a href="http://scanfcode.com/category/c-language/">My Account</a></li>
						<li><a href="http://scanfcode.com/category/front-end-development/">Cart</a></li>
						<li><a href="http://scanfcode.com/category/back-end-development/">Wishlist</a></li>
						<li><a href="http://scanfcode.com/category/java-programming-language/">My Orders</a></li>
					</ul>
				</div>

				<div class="col-xs-6 col-md-3">
					<h6>Contact Us</h6>
					<ul class="footer-links">
						<li>EVERBO Towers</li>
						<li>2nd Street</li>
						<li>Bangalore</li>
						<li>Karnataka,India</li>
					</ul>
				</div>
			</div>
			<hr>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<p class="copyright-text">Connect with us through our social media handles
					</p>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<ul class="social-icons">
						<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
					</ul>
				</div>
			</div>
		</div>
 </footer>



</div>




<script src="scripts/userScripts/jquery-3.2.1.min.js"></script>
<script src="styles/userStyles/bootstrap4/popper.js"></script>
<script src="styles/userStyles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="scripts/userScripts/custom.js"></script>
<script src="plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="scripts/userScripts/single_custom.js"></script>
<script src="scripts/userScripts/categories_custom.js"></script>
<script src="scripts/userScripts/user_entry.js"></script>
<script src="scripts/userScripts/refresh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>


</body>
</html>
