<%-include("../layouts/user/header.ejs")-%>

     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Change Password</h4>
                      </div>
                      <form action="/new_password" method="post" onsubmit="return validateNewPassword()">
                        <div class="row mt-2 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">New Password</label>
                            <input type="password" class="form-control" id="password1" name="password" placeholder="New Password" value="">
                            <span id="password1-error" class="mt-2 error-msg"></span>
                          </div> 
                          <div class="col-md-6 mt-3">
                            <label class="labels">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="confirm-password" placeholder="Re-type Newpassword" value="">
                            <span id="password2-error" class="mt-2 error-msg"></span>
                          </div>     
                      </div>
                      <div class="mt-5 mb-3 text-center">
                        <button class="btn  profile-button" type="submit">Confirm</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
<%-include("../layouts/user/footer.ejs")-%>