<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox">
  <div class="navbar-outer container">
    <div class="navbar-user">
      <a href="/profile"><div class="nav-options" ><i class="fa fa-user-circle mx-3" aria-hidden="true"></i>Profile</div></a>
      <a href="/address"><div class="nav-options" ><i class="fa fa-address-card-o mx-3" aria-hidden="true"></i>My Address</div></a>
      <a href="/order"> <div class="nav-options" ><i class="fa fa-cart-plus mx-3" aria-hidden="true"></i>My Orders</div></a>
      <a href="/change_password"><div class="nav-options" ><i class="fa fa-lock mx-3" aria-hidden="true"></i>Change Password</div></a>
      <div class="nav-options" onclick="confirmLogout()" ><i class="fa fa-sign-out mx-3" aria-hidden="true" ></i>Logout</div>
    </div>
     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Change Password</h4>
                      </div>
                      <form action="/change_password" method="post" onsubmit="return validateChangePassword()">
                        <div class="row mt-2 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">New Password</label>
                            <input type="text" class="form-control" id="password1" name="password" placeholder="New Password" value="">
                            <span id="password1-error" class="mt-2 error-msg"></span>
                          </div> 
                          <div class="col-md-6 mt-3">
                            <label class="labels">Confirm Password</label>
                            <input type="text" class="form-control" id="password2" name="confirm-password" placeholder="Re-type Newpassword" value="">
                            <span id="password2-error" class="mt-2 error-msg"></span>
                          </div>     
                      </div>
                      <div class="mt-5 mb-3 text-center">
                        <button class="btn  profile-button" type="submit">Confirm</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
<%-include("../layouts/user/footer.ejs")-%>