<%-include("../layouts/user/header.ejs")-%>
     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Confirm Password</h4>
                      </div>
                      <form action="/confirm_password" method="post" onsubmit="return validateConfirmPassword()">
                        <%if(locals.msg){%>
                          <strong><span class="error-msg ml-4"><%=msg%></span></strong>
                          <%}%>
                        <div class="row mt-2 mb-5 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">Current Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="New Password" value="">
                            <span id="password-error" class="mt-2 error-msg"></span>
                          </div>  
                          <div class="text-center col-md-6 mt-5">
                            <button class="btn  profile-button" type="submit">Confirm</button>
                          </div> 
                      </div>    
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
<%-include("../layouts/user/footer.ejs")-%>