<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox">
  <div class="navbar-outer container">
    <div class="navbar-user">
      <a href="/profile"><div class="nav-options" ><i class="fa fa-user-circle mx-3" aria-hidden="true"></i>Profile</div></a>
      <a href="/address"><div class="nav-options" ><i class="fa fa-address-card-o mx-3" aria-hidden="true"></i>My Address</div></a>
      <a href="/order"> <div class="nav-options" ><i class="fa fa-cart-plus mx-3" aria-hidden="true"></i>My Orders</div></a>
      <a href="/change_password"><div class="nav-options" ><i class="fa fa-lock mx-3" aria-hidden="true"></i>Change Password</div></a>
      <div class="nav-options" onclick="confirmLogout()"><i class="fa fa-sign-out mx-3" aria-hidden="true"></i>Logout</div>
    </div>
     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Confirm Password</h4>
                      </div>
                      <form action="/confirm_password" method="post" onsubmit="return validateConfirmPassword()">
                        <%if(locals.msg){%>
                          <strong><span class="error-msg ml-4"><%=msg%></span></strong>
                          <%}%>
                        <div class="row mt-2 mb-5 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">Current Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="New Password" value="">
                            <span id="password-error" class="mt-2 error-msg"></span>
                          </div>  
                          <div class="text-center col-md-6 mt-5">
                            <button class="btn  profile-button" type="submit">Confirm</button>
                          </div> 
                      </div>    
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
<%-include("../layouts/user/footer.ejs")-%>