<%-include("../layouts/user/header.ejs")-%>

 <div class="containerbox">

	<div class="wrapper">
		<div class="title-text">
			 <div class="title login">
					Login
			 </div>
			 <div class="title signup">
					Register
			 </div>
		</div>
	
		<% if(locals.message_signup) {%>
			<div class="signup-error">
				<span class="message" id="signup-error"><%=message_signup%></span>
			</div>
	  <%}%>
		<div class="form-container">
			 <div class="slide-controls">
					<input type="radio" name="slide" id="login" checked>
					<input type="radio" name="slide" id="signup">
					<label for="login" class="slide login">Signin</label>
					<label for="signup" class="slide signup">Signup</label>
					<div class="slider-tab"></div>
			 </div>

			 <div class="form-inner">
					<form action="/user_login" class="login" method="post" onsubmit="return validatelogin()">

							<% if(locals.message_signin) {%>
								<div class="error">
									<span class="message" id="signin-error"><%=message_signin%></span>
								</div>
									 <%}%>
					
						 <div class="field">
								<input type="text"name="email" placeholder="Email Address" id="email-login" oninput="clear_error('signin-error')">			
						 </div>
						 <span id="email-error-login" class="error-msg"></span>

						 <div class="field">
								<input type="password" name="password" placeholder="Password" id="password-login">
						 </div>
						 <span id="password-error-login" class="error-msg"></span>

						 <div class="pass-link">
								<a href="/forgot_password">Forgot password?</a>
						 </div>
						 <div class="login-buttons">
              <div class="field btns">
								<div class="btn-layer"></div>
								<input type="submit" class="submit" value="Login">
						 </div>
						 </div>
						 
						 <div class="signup-link">
								Don't have an account? <a href="">Signup now</a>
						 </div>
			
		  
					</form>
					<form action="/user_registration" class="signup" method="post" onsubmit="return validatesignup()">
			
						 <div class="field">
								<input type="text" name="name"  placeholder="Name" id="name-signup" oninput="clear_error('signup-error')" >
						 </div>
						 <span id="name-error-signup" class="error-msg"></span>

						 <div class="field">
								<input type="text" name="email" placeholder="Email Address" id="email-signup" >
						 </div>
						 <span id="email-error-signup" class="error-msg"></span>

						 <div class="field">
							<input type="text" name="mobileno" placeholder="Mobile no"  id="mobile_no-signup">
					 </div>
					 <span id="mobile_no-error-signup" class="error-msg"></span>

						 <div class="field">
								<input type="password" name="password" placeholder="Password" id="password-signup"  >
						 </div>
						 <span id="password-error-signup" class="error-msg"></span>

						 <div class="field">
							<input type="password" placeholder="Confirm password"  id="newpassword-signup">
					 </div>
					 <span id="newpassword-error-signup" class="error-msg"></span>

						 <div class="field btns">
								<div class="btn-layer"></div>
								<input type="submit" class="submit" value="Signup">
						 </div>
					</form>
			 </div>
		</div>
 </div>
 </div>

<%-include("../layouts/user/footer.ejs")-%>