<%-include("../layouts/user/header.ejs")-%>

 <div class="forgotbox">

	<div class="wrapper forgot">
		<div class="title-text">
			 <div class="title login">
					Forgot Password
			 </div>
		</div>

		<div class="form-container">
			 
			 <div class="form-inner">
					<form action="/forgot_password" class="login" method="post" onsubmit="return validateforgot()">
						<% if(locals.message_forgot) {%>
							<div class="reset-error">
								<span class="reset-message" id="reset-clear"><%=message_forgot%></span>
							</div>
						<%}%>		   
						<p class="reset-para">Please enter the Email address of the account you want to login </p>
						 <div class="field">
								<input type="text"name="email" placeholder="Email Address" id="email-login" oninput="clear_error('reset-clear')">			
						 </div>
						 <span id="email-error-login"></span>
           
						 <div class="reset-button">
              <div class="field btns">
								<div class="btn-layer"></div>
								<input type="submit" value="Send Link ">
						 </div>
						 </div>
						
		  
					</form>
					
			 </div>
		</div>
 </div>
 </div>

<%-include("../layouts/user/footer.ejs")-%>