<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox mt-4">
  <div class="container success-div">
    <div class="img-div" >
      <img class="tick-img" src="/images/userImages/orange-check-mark-verified-circle-16225.png" alt="">
    </div>
    <h4>Thank You For Ordering!</h4>
    <p>Your Order has been successfully placed,And will be delivered within 3-5 business days.</p>
    <div class="success-btns">
      <div class="mr-2">
        <a href="/order"><button class="btn delete-btn  mx-2" type="button">View Order
        </button></a>
      </div>
      <div class="ml-2">
        <a href="/shop"><button class="btn profile-button mx-2" type="button">Continue Shopping
        </button></a>
      </div>    
    </div>   
</div>
</div>
      
<%-include("../layouts/user/footer.ejs")-%>