<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox">
  <div class="navbar-outer container">
    <div class="navbar-user">
      <div class="nav-options">Profile</div>
      <div class="nav-options">Address</div>
      <div class="nav-options">Orders</div>
      <div class="nav-options">Change Password</div>
      </div>
     <div class="row profile-box">
      <div class="content">Content</div>
     </div>
  </div>
</div>

<%-include("../layouts/user/footer.ejs")-%>
