<%-include("../layouts/user/header.ejs")-%>

 <div class="resetbox ">

	<div class="wrapper">
		<div class="title-text">
			 <div class="title login">
					Reset Password
			 </div>
		</div>
	
		<div class="form-container">
			 
			 <div class="form-inner">
					
					<form action="/reset_password?Id=<%=id%>" class="signup" method="post" onsubmit="return validatereset()">
			      
						<% if(locals.message_resetpassword) {%>
							<div class="reset-error otp-error">
								<span class="otpverify-message"><%=message_resetpassword%></span>
							</div>
						<%}%>		

             <div class="innerbox-reset">
              
							<div class="field">
								<input type="password" name="password" placeholder="Password" id="password-signup"  >
						 </div>
						 <span id="password-error-signup"></span>

						 <div class="field">
							<input type="password" placeholder="Confirm password"  id="newpassword-signup">
					 </div>
					 <span id="newpassword-error-signup"></span>

					</div>

						 <div class="reset-button">
							<div class="field btns">
								<div class="btn-layer"></div>
								<input type="submit" class="submit" value="Confirm">
						 </div>
						 
						 </div>
					</form>
			 </div>
		</div>
 </div>
 </div>

<%-include("../layouts/user/footer.ejs")-%>